@media only screen and (max-width: 740px) {

     #wrapper { 
          /*background: #f77;*/
              width: 100%;
              }
     #divimg {
             float: none;
             }
    #coordonnees {
                   width: 500px;
                 }
                                          }

@media only screen and (max-width: 570px) {

     #wrapper { 
           /*background: #7f7;*/
              width: 100%;
              }
     #divimg{
             float: none;
             }
     #coordonnees {
                   width: 200px;
                 }
     
 }
                                          }

@media only screen and (max-width: 480px) {

     #wrapper { 
           /*background: #77f;*/
              width: 150px;
              display: initial;
              } 
      #divimg {
             float: none;

             }
     #coordonnees {
                   width: 50%;
                 }
                                          }

